.sidebar{
  height: 94.5vh;
  width: 20vw;
  background-color: #b7dbe0;
  border: 0;
  margin: 0;
  position: fixed;
  top: 20px;
  left: 2vw;
  z-index: 999;
  border-radius: 20px;  
  opacity: 0.5;
}

.sidebarWrapper .heading{
  font-size: 2rem;
  margin: 0.5rem 0 1.5rem 0 ;
  text-align: center;
  text-decoration: underline;
}
.sidebarWrapper li{
  font-size: 1.4rem;
  list-style-type: none;
  text-align: start;
  margin: 0.5rem 1rem;
  padding: 0.5rem 0.7rem;
}

ul.list-names{
  padding: 0;
}

ul.list-names .icon{
  margin: -5px 5px 0 0;
}
ul.list-names.icon.star{
  margin: -5px 0 0 0 !important;
}

ul.list-names a{
  text-decoration: none;
  color: black;
}
ul.list-name a.active{
  border-radius:13px;
  color: white;
  font-size: bold;
  background-color: black;
}
ul.list-names li:hover{
  background-color: #4b4a4a;
  border-radius:13px;
  color: white;
  font-size: bold;
}

