.sidebar{
  height: 90.5vh;
  width: 20vw;
  background-color: #b7dbe0;
  border: 0;
  margin: 0;
  position: fixed;
  top: 4.8vh;
  left: 2vw;
  z-index: 999;
  border-radius: 20px;
  opacity: 0.5;
}

.sidebarWrapper .heading{
  font-size: 2rem;
  margin: 0.5rem 0 1.5rem 0 ;
  text-align: center;
  text-decoration: underline;
}
.sidebarWrapper li{
  font-size: 1.4rem;
  list-style-type: none;
  text-align: start;
  margin: 0 0 1.5rem 1rem;
}

.sun-icon{
  color: white;
}