.sidebar{
  height: 90.5vh;
  width: 20vw;
  background-color: #b7dbe0;
  border: 0;
  margin: 0;
  position: fixed;
  top: 4.8vh;
  left: 2vw;
  z-index: 999;
  border-radius: 20px;
  opacity: 0.5;
}