.taskitem{
  display: flex ;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 50vw;
  background-color: white;
  color: black;
  padding: 5px 0px;
  border-radius: 10px;
}


input.check{
  width: 20px;
  height: 20px;
  flex: 1;
}

.taskname{
  flex: 10;
  font-size: 1.5rem;
}
.delete-task{
  flex: 1;
  font-size: 1.5rem;
  text-align: center;
}

.delete-task:hover{
  color: #e63030;
  font-size: 1.55rem;
  transform: scale(1.2);
  transition: 0.08s;
}